.section-1 {
  background-color: black;
  color: white;
  transform-origin: top left;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.section1-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width: 100%;
}

.section-1 a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.section-1 h2 {
  text-shadow: 3px 3px rgba(58, 55, 57, 0.95);
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Prata", serif;
  letter-spacing: 10px;
}

.section-1 p {
  font-size: 3rem;
  letter-spacing: 10px;
  margin: 50px;
}

.section-1 img {
  opacity: 0.2;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  display: none;
}

.fadeIn {
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
